*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%)
}

html {
    font-family: "Inter", sans-serif;

    background-color: var(--gray-900);
    color: var(--white)
}

img {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    object-fit: cover;
}

h2 {
    margin: 1.9rem auto 0.3rem;
}

h3 {
    font-size: 0.83rem;
    margin: 0.3rem;
    color: var(--green);
}

p {
    margin: 1.56rem auto 1rem;
    font-size: 0.875rem;
    color: hsl(0, 0%, 70%);
}

a {
    display: block;
    color: var(--white);
    background-color: var(--gray-700);

    margin: 0.5rem;
    padding: 0.94rem;
    width: 80%;

    text-decoration: none;

    border-radius: 0.625rem;text-align: center;
}

a:hover {
    background-color: var(--green);
    color: var(--gray-700);

    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: 28rem;
    padding: 2.813rem 0.625rem 1.875rem;

    align-items: center;
    justify-content: center;

    margin: 9.375rem auto;

    background-color: var(--gray-800);
    border-radius: 0.75rem;
}

ul {
    list-style: none;
    width: 100%;

    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    width: 100%;
}