:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%)
}

html {
    font-family: "Inter", sans-serif;

    background-color: var(--gray-900);
    color: var(--white)
}

img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
}

h2 {
    margin: 30px auto 5px;
}

h5 {
    margin: 5px;
    color: var(--green);
}

p {
    margin: 25px auto 15px;
    font-size: 14px;
    color: hsl(0, 0%, 70%);
}

a {
    display: block;
    color: var(--white);
    background-color: var(--gray-700);

    margin: 8px;
    padding: 15px;
    width: 75%;

    text-decoration: none;

    border-radius: 10px;text-align: center;
}

a:hover {
    background-color: var(--green);
    color: var(--gray-700);

    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-width: 380px;
    padding: 45px 10px 30px;

    align-items: center;
    justify-content: center;

    margin: 150px auto;

    background-color: var(--gray-800);
    border-radius: 12px;
}